<p id="notice"><%= notice %></p>

<button type="button" class="btn btn-outline-secondary">
  <%= link_to 'New Member', new_organization_membership_path(@membership[0].organization_id) %>
</button>
<div class="row">
  <% @membership.each do |membership| %>
    <%= render partial: 'users/user_title', locals: { user: membership.user, admin: false } %>
  <% end %>
</div>