<button type="button" class="btn btn-outline-secondary">
  <%= link_to 'New Guest', new_event_guest_path(@guest[0].event_id) %>
</button>
<div class="row">
  <% @guest.each do |guest| %>
    <%= render partial: 'users/user_title', locals: { user: guest.user , admin: false } %>
  <% end %>
</div>