<h1>Editing Comment</h1>

<%= render 'form',{comment: @comment, event: @comment.event_id, user: @comment.user_id }  %>

<!--<%#= link_to 'Show', @comment %> |-->
<%#= link_to 'Back', comments_path %>
