<p id="notice"><%= notice %></p>

<h1>Notifications</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>MSG</th>
      <th>Event</th>
    </tr>
  </thead>

  <tbody>
    <% @notifications.each do |notification| %>
      <tr>
        <td><%= notification.id%></td>
        <td><%= notification.msg %></td>
        <td><%= link_to notification.event.name,controller: "events", action: "show", id: notification.event %></td>
<!--        <td><%#= link_to 'Edit', edit_notification_path(notification) %></td>-->
<!--        <td><%#= link_to 'Destroy', notification, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>

<br>


