<p id="notice"><%= notice %></p>


<button type="button" class="btn btn-outline-secondary"><%= link_to 'Edit', edit_multimedium_path(@multimedium) %></button> |
<button type="button" class="btn btn-outline-secondary"><%= link_to 'home', root_path %></button>