<%if user_signed_in? %>
  <p id="notice"><%= notice %></p>
  <div class="row ml-0 mt-3">
    <h2>Upcoming Events</h2>
  </div>
  <div class="row ml-0 mt-2">
    <p>Upcoming events are truly awesome in this COVID-19 season!</p>
  </div>
  <div class="row">
    <% @events.each do |event| %>
      <% event.guests.each do |guest| %>
        <% if guest.user==@current_user %>
           <%= render partial: 'events/event_title', locals: { event: event  , admin: false} %>
        <%#= render partial: 'events/event_title', locals: { event: event } %>
      <% end %>
    <% end %>
    <% end %>
  </div>
<%else %>

<%end %>