<p id="notice"><%= notice %></p>

<h1>Mail Boxes</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>msg</th>
    </tr>
  </thead>

  <tbody>
    <% @mail_boxes.each do |mail_box| %>
      <tr>
        <td><%= link_to mail_box.id, mail_box %></td>
        <td><%= mail_box.inbox %></td>
<!--        <td><%#= link_to 'Edit', edit_mail_box_path(mail_box) %></td>-->
<!--        <td><%#= link_to 'Destroy', mail_box, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>

<br>


